.about-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.about-text10 {
  display: inline-block;
}
 
.about-text11 {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-family: "Arial";
  font-weight: 700;
}
 
.about-text12 {
  display: inline-block;
  font-weight: 700;
}
 
.about-text16 {
  display: inline-block;
}
 
.about-text17 {
  display: inline-block;
}
 
.about-text18 {
  display: inline-block;
}
 
.about-text29 {
  display: inline-block;
}
 
.about-text30 {
  display: inline-block;
}
 
.about-text31 {
  display: inline-block;
}
 
.about-text32 {
  display: inline-block;
}
 
.about-text33 {
  display: inline-block;
}
 
.about-text34 {
  display: inline-block;
}
 
.about-text35 {
  display: inline-block;
}
 
.about-text36 {
  display: inline-block;
}
 
.about-text37 {
  display: inline-block;
}
 
.about-text38 {
  display: inline-block;
}
 
.about-text39 {
  display: inline-block;
}
 
.about-text40 {
  display: inline-block;
}
 
.about-text41 {
  display: inline-block;
}
 
.about-text42 {
  display: inline-block;
}
 
.about-text43 {
  display: inline-block;
}
 
.about-text44 {
  display: inline-block;
}
 
.about-text45 {
  display: inline-block;
}
 
.about-text46 {
  display: inline-block;
}
 
.about-text47 {
  display: inline-block;
}
 
.about-text49 {
  font-style: italic;
  text-decoration: underline;
}
 
.about-text50 {
  font-style: italic;
}
 
.about-text51 {
  display: inline-block;
}
 
.about-text52 {
  display: inline-block;
}
 
.about-text53 {
  display: inline-block;
}
 
.about-text54 {
  display: inline-block;
}
 
.about-text55 {
  display: inline-block;
}
 
.about-text56 {
  display: inline-block;
}
 
.about-text57 {
  display: inline-block;
}
 
.about-text58 {
  display: inline-block;
}
