.calendar-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.calendar-text10 {
  display: inline-block;
}
 
.calendar-text11 {
  display: inline-block;
}
 
.calendar-text12 {
  display: inline-block;
}
 
.calendar-text13 {
  display: inline-block;
}
 
.calendar-text14 {
  display: inline-block;
}
 
.calendar-text15 {
  display: inline-block;
}
 
.calendar-text16 {
  display: inline-block;
}
 
.calendar-header23 {
  background-size: cover;
  background-image: linear-gradient(90deg, rgba(123, 125, 127, 0.5) 0.00%,rgba(123, 125, 127, 0.5) 0.00%),url('https://images.unsplash.com/photo-1562388831-a7a060b9c1fe?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDV8fGtheWFrfGVufDB8fHx8MTc0NDgyMjYxOHww&ixlib=rb-4.0.3&w=1500');
  background-position: center;
}
 
.calendar-max-width {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
 
.calendar-content {
  display: flex;
  max-width: 1000px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.calendar-container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.calendar-text17 {
  color: rgb(255, 255, 255);
  font-size: 35px;
  text-align: center;
  font-family: "Arial";
}
 
.calendar-text18 {
  color: rgb(255, 255, 255);
  text-align: center;
}
 
.calendar-text19 {
  display: inline-block;
}
 
.calendar-text20 {
  display: inline-block;
}
 
.calendar-text21 {
  display: inline-block;
}
 
.calendar-text26 {
  display: inline-block;
}
 
.calendar-text27 {
  display: inline-block;
}
 
.calendar-text28 {
  display: inline-block;
}
 
.calendar-text29 {
  display: inline-block;
}
 
.calendar-text30 {
  display: inline-block;
}
 
.calendar-container3 {
  margin-bottom: 71px;
}
 
.calendar-container4 {
  display: contents;
}
 
.calendar-text31 {
  display: inline-block;
}
 
.calendar-text32 {
  display: inline-block;
}
 
.calendar-text33 {
  display: inline-block;
}
 
.calendar-text34 {
  display: inline-block;
}
 
.calendar-text35 {
  display: inline-block;
}
 
.calendar-text36 {
  display: inline-block;
}
 
.calendar-text37 {
  display: inline-block;
}
 
.calendar-text38 {
  display: inline-block;
}
 
.calendar-text39 {
  display: inline-block;
}
 
.calendar-text40 {
  display: inline-block;
}
 
.calendar-text42 {
  font-style: italic;
  text-decoration: underline;
}
 
.calendar-text43 {
  font-style: italic;
}
 
.calendar-text44 {
  display: inline-block;
}
 
.calendar-text45 {
  display: inline-block;
}
 
.calendar-text46 {
  display: inline-block;
}
 
.calendar-text47 {
  display: inline-block;
}
 
.calendar-text48 {
  display: inline-block;
}
 
.calendar-text49 {
  display: inline-block;
}
 
.calendar-text50 {
  display: inline-block;
}
 
.calendar-text51 {
  display: inline-block;
}
 
@media(max-width: 479px) {
  .calendar-container3 {
    width: 445px;
  }
}
