.contact-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.contact-text10 {
  display: inline-block;
}
 
.contact-text11 {
  display: inline-block;
}
 
.contact-text12 {
  display: inline-block;
}
 
.contact-text13 {
  display: inline-block;
}
 
.contact-text14 {
  display: inline-block;
}
 
.contact-text15 {
  display: inline-block;
}
 
.contact-text16 {
  display: inline-block;
}
 
.contact-header23 {
  background-size: cover;
  background-image: linear-gradient(90deg, rgba(123, 125, 127, 0.5) 0.00%,rgba(123, 125, 127, 0.5) 0.00%),url('https://images.unsplash.com/photo-1599247254008-a564e16c2b66?ixid=M3w5MTMyMXwwfDF8c2VhcmNofDQzfHxrYXlha3xlbnwwfHx8fDE3NDQ4MjQ2Mjh8MA&ixlib=rb-4.0.3&w=1500');
  background-position: center;
}
 
.contact-max-width {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
 
.contact-content {
  display: flex;
  max-width: 1000px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact-container2 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.contact-text17 {
  color: rgb(255, 255, 255);
  font-size: 35px;
  text-align: center;
  font-family: "Arial";
}
 
.contact-text18 {
  color: rgb(255, 255, 255);
  text-align: center;
}
 
.contact-text19 {
  display: inline-block;
}
 
.contact-text20 {
  display: inline-block;
}
 
.contact-text21 {
  display: inline-block;
}
 
.contact-text22 {
  display: inline-block;
}
 
.contact-text27 {
  display: inline-block;
}
 
.contact-text28 {
  display: inline-block;
}
 
.contact-text29 {
  display: inline-block;
}
 
.contact-text30 {
  display: inline-block;
}
 
.contact-container3 {
  width: 635px;
}
 
.contact-container4 {
  display: contents;
}
 
.contact-text31 {
  display: inline-block;
}
 
.contact-text32 {
  display: inline-block;
}
 
.contact-text33 {
  display: inline-block;
}
 
.contact-text34 {
  display: inline-block;
}
 
.contact-text35 {
  display: inline-block;
}
 
.contact-text36 {
  display: inline-block;
}
 
.contact-text37 {
  display: inline-block;
}
 
.contact-text38 {
  display: inline-block;
}
 
.contact-text39 {
  display: inline-block;
}
 
.contact-text40 {
  display: inline-block;
}
 
.contact-text42 {
  font-style: italic;
  text-decoration: underline;
}
 
.contact-text43 {
  font-style: italic;
}
 
.contact-text44 {
  display: inline-block;
}
 
.contact-text45 {
  display: inline-block;
}
 
.contact-text46 {
  display: inline-block;
}
 
.contact-text47 {
  display: inline-block;
}
 
.contact-text48 {
  display: inline-block;
}
 
.contact-text49 {
  display: inline-block;
}
 
.contact-text50 {
  display: inline-block;
}
 
.contact-text51 {
  display: inline-block;
}
