.privacy-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.privacy-text10 {
  display: inline-block;
}
 
.privacy-text11 {
  display: inline-block;
}
 
.privacy-text12 {
  display: inline-block;
}
 
.privacy-text13 {
  display: inline-block;
}
 
.privacy-text14 {
  display: inline-block;
}
 
.privacy-text15 {
  display: inline-block;
}
 
.privacy-content1 {
  display: inline-block;
}
 
.privacy-text16 {
  font-style: italic;
}
 
.privacy-text20 {
  display: inline-block;
}
 
.privacy-content3 {
  display: inline-block;
}
 
.privacy-text33 {
  display: inline-block;
}
 
.privacy-text34 {
  display: inline-block;
}
 
.privacy-text35 {
  display: inline-block;
}
 
.privacy-text36 {
  display: inline-block;
  font-weight: 700;
}
 
.privacy-text37 {
  display: inline-block;
}
 
.privacy-text38 {
  display: inline-block;
}
 
.privacy-text39 {
  display: inline-block;
}
 
.privacy-text40 {
  display: inline-block;
}
 
.privacy-text41 {
  display: inline-block;
}
 
.privacy-text42 {
  display: inline-block;
}
 
.privacy-content61 {
  display: inline-block;
}
 
.privacy-content62 {
  display: inline-block;
}
 
.privacy-content63 {
  display: inline-block;
}
 
.privacy-link1 {
  text-decoration: underline;
}
 
.privacy-link2 {
  text-decoration: underline;
}
 
.privacy-content64 {
  display: inline-block;
}
 
.privacy-content65 {
  display: inline-block;
}
 
.privacy-text79 {
  font-style: italic;
}
 
.privacy-link3 {
  font-style: italic;
  text-decoration: underline;
}
 
.privacy-text81 {
  display: inline-block;
}
 
.privacy-text82 {
  display: inline-block;
}
 
.privacy-text83 {
  display: inline-block;
}
 
.privacy-text84 {
  display: inline-block;
}
 
.privacy-text85 {
  display: inline-block;
}
 
.privacy-text86 {
  display: inline-block;
}
 
.privacy-text87 {
  display: inline-block;
}
 
.privacy-text88 {
  display: inline-block;
}
 
.privacy-text89 {
  display: inline-block;
}
 
.privacy-text90 {
  display: inline-block;
}
 
.privacy-text91 {
  display: inline-block;
}
 
.privacy-text92 {
  display: inline-block;
}
 
.privacy-text93 {
  display: inline-block;
}
 
.privacy-text94 {
  display: inline-block;
}
 
.privacy-text95 {
  display: inline-block;
}
 
.privacy-text96 {
  display: inline-block;
}
 
.privacy-text98 {
  font-style: italic;
  text-decoration: underline;
}
 
.privacy-text99 {
  font-style: italic;
}
 
.privacy-text100 {
  display: inline-block;
}
 
.privacy-text101 {
  display: inline-block;
}
 
.privacy-text102 {
  display: inline-block;
}
 
.privacy-text103 {
  display: inline-block;
}
 
.privacy-text104 {
  display: inline-block;
}
 
.privacy-text105 {
  display: inline-block;
}
 
.privacy-text106 {
  display: inline-block;
}
 
.privacy-text107 {
  display: inline-block;
}
