.contact14-contact20 {
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}
 
.contact14-max-width {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contact14-content1 {
  flex: 1;
  width: auto;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact14-contact-info1 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-content2 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-text10 {
  font-size: 22px;
  align-self: stretch;
  text-align: center;
  font-family: "Arial";
}
 
.contact14-email {
  text-align: center;
}
 
.contact14-content3 {
  flex: 1;
  width: auto;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact14-contact-info2 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-content4 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-text11 {
  font-size: 22px;
  align-self: stretch;
  text-align: center;
  font-family: "Arial";
}
 
.contact14-phone1 {
  text-align: center;
  text-decoration: none;
}
 
.contact14-content5 {
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact14-contact-info3 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-content6 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-text12 {
  align-self: stretch;
  text-align: center;
}
 
.contact14-phone2 {
  text-align: center;
}
 
.contact14-content7 {
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact14-icon16 {
  width: 58px;
  height: 45px;
}
 
.contact14-contact-info4 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-content8 {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-text13 {
  font-size: 19px;
  align-self: stretch;
  text-align: center;
  font-family: "Arial";
}
 
.contact14-website {
  text-align: center;
  text-decoration: none;
}
 
.contact14-text14 {
  display: inline-block;
}
 
.contact14-text15 {
  display: inline-block;
}
 
.contact14-text16 {
  display: inline-block;
}
 
.contact14-text17 {
  display: inline-block;
}
 
.contact14-text18 {
  display: inline-block;
}
 
.contact14-text23 {
  display: inline-block;
}
 
.contact14-text24 {
  display: inline-block;
}
 
.contact14-text25 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .contact14-max-width {
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .contact14-max-width {
    align-self: center;
    align-items: center;
    justify-content: center;
  }
}
