.cta42-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.cta42-max-width {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.cta42-container2 {
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.cta42-image1 {
  width: 251px;
  height: 426px;
  object-fit: cover;
}
 
.cta42-image2 {
  width: 234px;
  height: 324px;
  object-fit: cover;
}
 
.cta42-column {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
 
.cta42-actions {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
 
.cta42-text3 {
  display: inline-block;
  font-family: "Arial";
}
 
.cta42-text4 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .cta42-container2 {
    flex-direction: column;
  }
}
