.cta4-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.cta4-max-width {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.cta4-container2 {
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.cta4-column {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
}
 
.cta4-text1 {
  font-family: "Arial";
}
 
.cta4-text2 {
  font-family: "Arial";
}
 
.cta4-text3 {
  font-family: "Arial";
}
 
.cta4-actions {
  display: flex;
  align-items: flex-start;
}
 
.cta4-button {
  border-color: #0893bf;
  background-color: #0893bf;
}
 
.cta4-placeholder-image {
  width: 551px;
  height: 562px;
  max-height: 400px;
}
 
.cta4-text5 {
  display: inline-block;
}
 
.cta4-text6 {
  display: inline-block;
}
 
.cta4-text7 {
  display: inline-block;
}
 
.cta4-text8 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .cta4-container2 {
    flex-direction: column;
  }
  .cta4-placeholder-image {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .cta4-container1 {
    margin-top: 35px;
  }
}
