.hero7-header23 {
  background-size: cover;
  background-image: url("/external/image%20(1)-1500w-1500w.webp");
  background-position: center;
}
 
.hero7-text1 {
  color: #ffffff;
  align-self: center;
  font-weight: bold;
}
 
.hero7-max-width {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
}
 
.hero7-content {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: 1000px;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.hero7-text2 {
  color: #ffffff;
  align-self: center;
}
 
.hero7-text3 {
  display: inline-block;
}
 
.hero7-text4 {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-family: "Arial";
  font-weight: 700;
}
 

