.navbar2-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar2-navbar-interactive {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  padding-left: var(--dl-layout-space-threeunits);
  padding-right: var(--dl-layout-space-threeunits);
  padding-bottom: var(--dl-layout-space-twounits);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
 
.navbar2-image1 {
  width: 80px;
  height: 70px;
}
 
.navbar2-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
 
.navbar2-links1 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
 
.navbar2-link11 {
  text-decoration: none;
}
 
.navbar2-link21 {
  text-decoration: none;
}
 
.navbar2-link31 {
  text-decoration: none;
}
 
.navbar2-link41 {
  text-decoration: none;
}
 
.navbar2-link51 {
  text-decoration: none;
}
 
.navbar2-link52 {
  text-decoration: none;
}
 
.navbar2-burger-menu {
  display: none;
}
 
.navbar2-icon10 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar2-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.navbar2-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar2-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: space-between;
}
 
.navbar2-logo {
  height: 3rem;
}
 
.navbar2-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.navbar2-icon12 {
  width: var(--dl-layout-size-xsmall);
  height: var(--dl-layout-size-xsmall);
}
 
.navbar2-links2 {
  gap: var(--dl-layout-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
 
.navbar2-icon-group {
  gap: var(--dl-layout-space-twounits);
  display: flex;
}
 
.navbar2-text1 {
  display: inline-block;
}
 
.navbar2-text2 {
  display: inline-block;
}
 
.navbar2-text3 {
  display: inline-block;
}
 
.navbar2-text4 {
  display: inline-block;
}
 
.navbar2-text5 {
  display: inline-block;
}
 
.navbar2-text6 {
  display: inline-block;
}
 
.navbar2-text7 {
  display: inline-block;
}
 

 

 

 

 

 

 
@media(max-width: 767px) {
  .navbar2-navbar-interactive {
    padding-left: var(--dl-layout-space-twounits);
    padding-right: var(--dl-layout-space-twounits);
  }
  .navbar2-desktop-menu {
    display: none;
  }
  .navbar2-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
 
@media(max-width: 479px) {
  .navbar2-navbar-interactive {
    padding: var(--dl-layout-space-unit);
    padding-right: 16px;
  }
  .navbar2-mobile-menu {
    padding: var(--dl-layout-space-unit);
  }
}
