.steps12-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.steps12-text10 {
  line-height: 2;
}
 
.steps12-max-width {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.steps12-container2 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.steps12-container3 {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.steps12-lottie-node1 {
  width: 147px;
  height: 141px;
}
 
.steps12-text11 {
  height: 92px;
  font-size: 30px;
  text-align: center;
  font-family: "Arial";
}
 
.steps12-text12 {
  text-align: center;
  font-family: "Arial";
}
 
.steps12-container4 {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.steps12-lottie-node2 {
  width: 182px;
  height: 147px;
}
 
.steps12-text13 {
  font-size: 30px;
  font-family: "Arial";
}
 
.steps12-text14 {
  text-align: center;
  font-family: "Arial";
}
 
.steps12-container5 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.steps12-container6 {
  width: 251px;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.steps12-lottie-node3 {
  width: 189px;
  height: 146px;
}
 
.steps12-text15 {
  font-size: 28px;
  font-family: "Arial";
}
 
.steps12-text16 {
  text-align: center;
  font-family: "Arial";
}
 
.steps12-container7 {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.steps12-lottie-node4 {
  width: 191px;
  height: 147px;
}
 
.steps12-text17 {
  font-size: 30px;
  font-family: "Arial";
}
 
.steps12-text18 {
  text-align: center;
  font-family: "Arial";
}
 
.steps12-text19 {
  display: inline-block;
}
 
.steps12-text20 {
  display: inline-block;
}
 
.steps12-text25 {
  display: inline-block;
}
 
.steps12-text26 {
  display: inline-block;
}
 
.steps12-text27 {
  display: inline-block;
}
 
.steps12-text28 {
  display: inline-block;
}
 
.steps12-text29 {
  display: inline-block;
}
 
.steps12-text30 {
  display: inline-block;
}
 
.steps12-text31 {
  display: inline-block;
}
 
.steps12root-class-name {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
}
 
@media(max-width: 991px) {
  .steps12-max-width {
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .steps12-container2 {
    flex-direction: column;
  }
  .steps12-container3 {
    width: 100%;
  }
  .steps12-container4 {
    width: 100%;
  }
  .steps12-container5 {
    flex-direction: column;
  }
  .steps12-container6 {
    width: 100%;
  }
  .steps12-container7 {
    width: 100%;
  }
}
